body{
	padding:0;
	margin:0;
	overflow:hidden;
	font-size:100%;
	size:100%;
}
#vid{
	display:block;
	position: -webkit-sticky;
	border-radius:25px;
	position:sticky;
	margin:30px auto;
}
div{
	overflow:hidden;
	z-index:10;
}
#messageDiv{
	overflow-y:scroll;
}
*{
	overflow:hidden;
	overflow-x:hidden;
	overflow-y:hidden;
}
h1{
	font-family: "Lato";
	font-weight:2000;
	text-align:center;
}
p{
	font-family: "Lato";
	font-weight:normal;
	text-align:center;
}
#main{
	width:100vw;
	height:100vh;
	background-color:#98BFCB;
	align-items:center;
}
#name2{
	position:relative;
	margin:1vw;
	top:1vh;
	transition:.5s;
}
#name2:hover{
	position:relative;
	color:#999999;
	top:0vh;
	transition:.5s;
}

#messageDiv::-webkit-scrollbar{
	background:#DDDBC0;
}
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

#name{
	margin:1vw;
}
@media only screen and (orientation: landscape) {
  #mainDiv{
	text-align:justify;
	position: absolute;
	top:0vh;
	left:15vw;
	width:70vw;
	height:100vh;
	background-color:#FFFDE0;
}
#messageDiv{
	text-align:justify;
	position: absolute;
	top:10vh;
	left:4vw;
	height:85vh;
	width:62vw;
	border-radius: 25px;
}
#message{
	margin:1vw;
}

#div1{
	z-index:2;
	position:absolute;
	top:0vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Module 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	z-index:3;
	position:absolute;
	top:25vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Module 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	z-index:4;
	position:absolute;
	top:50vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Module 3.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	z-index:5;
	position:absolute;
	top:75vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Module 4.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div5{
	z-index:2;
	position:absolute;
	top:0vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Module 5.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div6{
	z-index:3;
	position:absolute;
	top:25vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Module 6.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div7{
	z-index:4;
	position:absolute;
	top:50vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Module 7.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div8{
	z-index:5;
	position:absolute;
	top:75vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Module 8.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(-20deg);
	opacity:0%;
  }
  to {
    transform: translate(-5vw,0) rotate(-20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
@keyframes enterRight {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(5vw,0) rotate(20deg);
	opacity:100%;
  }
}
.enterRight{
	animation: enterRight 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	left:5vw;
	filter:brightness(100%);
}
#div5:hover, #div6:hover, #div7:hover, #div8:hover{
	left:80vw;
	filter:brightness(100%);
}
h1{
	font-size:2.5em;
}
p{
	font-size:1.3em;
}
}
/*
@media only screen and (orientation: portrait) {
  #mainDiv{
	text-align:justify;
	position: absolute;
	top:0vh;
	left:20vw;
	width:60vw;
	height:100vh;
	background-color:white;
}
#message{
	margin:1vw;
}
#name{
	margin:1vw;
}
#div1{
	position:absolute;
	top:5vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	position:absolute;
	top:27vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	position:absolute;
	top:49vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	position:absolute;
	top:71vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(-20deg);
	opacity:0%;
  }
  to {
    transform: translate(-5vw,0) rotate(-20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	left:0vw;
	filter:brightness(100%);
}
p{
	font-size:1.5vh;
}
}
*/
@media only screen and (orientation: portrait) {
  #mainDiv{
	text-align:justify;
	position: absolute;
	top:15vh;
	left:0;
	width:100vw;
	height:70vh;
	background-color:#FFFDE0;
}
#messageDiv{
	text-align:justify;
	position: absolute;
	top:15vh;
	left:4vw;
	width:92vw;
	height:50vh;
	border-radius:25px;
}

#message{
	margin:1vw;
}
#name{
	margin:1vw;
}
#div1{
	z-index:2;
	position:absolute;
	top:13vh;
	left:-5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	z-index:3;
	position:absolute;
	top:13vh;
	left:20vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	z-index:4;
	position:absolute;
	top:13vh;
	left:45vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 3.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	z-index:5;
	position:absolute;
	top:13vh;
	left:70vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 4.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div5{
	z-index:2;
	position:absolute;
	top:70vh;
	left:-5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 5.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div6{
	z-index:3;
	position:absolute;
	top:70vh;
	left:20vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 6.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div7{
	z-index:4;
	position:absolute;
	top:70vh;
	left:45vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 7.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div8{
	z-index:5;
	position:absolute;
	top:70vh;
	left:70vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Module 8.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(0,-10vh) rotate(20deg);
	opacity:100%;
  }
}
@keyframes enterRight {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(0,10vh) rotate(20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
.enterRight{
	animation: enterRight 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	top:10vh;
	filter:brightness(100%);
}
#div5:hover, #div6:hover, #div7:hover, #div8:hover{
	top:73vh;
	filter:brightness(100%);
}
h1{
	font-size:2.6em;
}
p{
	font-size:2.1em;
}