body{
	padding:0;
	margin:0;
	overflow:hidden;
	font-size:100%;
}
h1{
	font-family: "Lucida Handwriting";
}
p{
	font-family: "Tahoma";
}
#main{
	width:100vw;
	height:100vh;
	background-color:#98BFCB;
	align-items:center;
}
@media only screen and (orientation: landscape) {
  #messageDiv{
	text-align:justify;
	position: absolute;
	top:0vh;
	left:15vw;
	width:70vw;
	height:100vh;
	background-color:#FFFDE0;
}
#message{
	margin:1vw;
}
#name{
	margin:1vw;
}
#div1{
	position:absolute;
	top:0vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 1.jpg");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	position:absolute;
	top:25vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Sablay 1.jpg");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	position:absolute;
	top:50vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Formal 1.jpg");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	position:absolute;
	top:75vh;
	left:10vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(-20deg);
	background-image:url("../assets/Creative 1.jpg");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div5{
	position:absolute;
	top:0vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div6{
	position:absolute;
	top:25vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Sablay 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div7{
	position:absolute;
	top:50vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Formal 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div8{
	position:absolute;
	top:75vh;
	left:75vw;
	width:15vw;
	height:21vw;
	background-size:15vw 21vw;
	transform:rotate(20deg);
	background-image:url("../assets/Creative 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(-20deg);
	opacity:0%;
  }
  to {
    transform: translate(-5vw,0) rotate(-20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
@keyframes enterRight {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(5vw,0) rotate(20deg);
	opacity:100%;
  }
}
.enterRight{
	animation: enterRight 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	left:5vw;
	filter:brightness(100%);
}
#div5:hover, #div6:hover, #div7:hover, #div8:hover{
	left:80vw;
	filter:brightness(100%);
}
h1{
	font-size:2em;
}
p{
	font-size:1.5em;
}
}
/*
@media only screen and (orientation: portrait) {
  #messageDiv{
	text-align:justify;
	position: absolute;
	top:0vh;
	left:20vw;
	width:60vw;
	height:100vh;
	background-color:white;
}
#message{
	margin:1vw;
}
#name{
	margin:1vw;
}
#div1{
	position:absolute;
	top:5vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	position:absolute;
	top:27vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	position:absolute;
	top:49vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	position:absolute;
	top:71vh;
	left:5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(-20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(-20deg);
	opacity:0%;
  }
  to {
    transform: translate(-5vw,0) rotate(-20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	left:0vw;
	filter:brightness(100%);
}
p{
	font-size:1.5vh;
}
}
*/
@media only screen and (orientation: portrait) {
  #messageDiv{
	text-align:justify;
	position: absolute;
	top:15vh;
	left:0;
	width:100vw;
	height:70vh;
	background-color:white;
}
#message{
	margin:1vw;
}
#name{
	margin:1vw;
}
#div1{
	position:absolute;
	top:13vh;
	left:-5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Toga 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div2{
	position:absolute;
	top:13vh;
	left:20vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Sablay 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div3{
	position:absolute;
	top:13vh;
	left:45vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Formal 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div4{
	position:absolute;
	top:13vh;
	left:70vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Creative 1.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div5{
	position:absolute;
	top:70vh;
	left:-5vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Toga 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}



#div6{
	position:absolute;
	top:70vh;
	left:20vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Sablay 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

#div7{
	position:absolute;
	top:70vh;
	left:45vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Formal 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}
#div8{
	position:absolute;
	top:70vh;
	left:70vw;
	width:20vh;
	height:28vh;
	background-size:20vh 28vh;
	transform:rotate(20deg);
	background-image:url("../assets/Creative 2.png");
	filter:brightness(50%);
	opacity:0%;
	transition:.5s;
}

@keyframes enterLeft {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(0,-10vh) rotate(20deg);
	opacity:100%;
  }
}
@keyframes enterRight {
  from {
    transform: translate(0,0) rotate(20deg);
	opacity:0%;
  }
  to {
    transform: translate(0,10vh) rotate(20deg);
	opacity:100%;
  }
}
.enterLeft{
	animation: enterLeft 1000ms;
	animation-fill-mode: forwards;
}
.enterRight{
	animation: enterRight 1000ms;
	animation-fill-mode: forwards;
}
#div1:hover, #div2:hover, #div3:hover, #div4:hover{
	top:10vh;
	filter:brightness(100%);
}
#div5:hover, #div6:hover, #div7:hover, #div8:hover{
	top:73vh;
	filter:brightness(100%);
}
h1{
	font-size:2.5em;
}
p{
	font-size:2em;
}