@font-face {
	font-family: Lustria Regular;
	src: url("../assets/fonts/Lustria-Regular.ttf");
}
body{
	background-color:black;
	font-family: "Lustria Regular";
}
#portraitDiv{
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	height:100vh;
	width:100vw;
	display:block;
}
img{
	height:40vw;
	width:auto;
	position:absolute;
}
h2{
	margin: 1vw;
}
#dialogueDiv{
	position:absolute;
	width:90vw;
	height:calc(90vw*2/16);
	z-index:9;
	top:calc(90vw*7/16);
	left:5vw;
	font-size:1.2vw;
	opacity: 1;
	background-color:beige;
	display:block;
}

div{
	width:90vw;
	height:calc(90vw*9/16);
	display:none;
	z-index:1;
}
#room1{
	background-image: url("../assets/img/dorm.png");
	background-size: 100% 100%;
}
#room2{
	background-image: url("../assets/img/room2.png");
	display:block;
}
#room3{
	background-image: url("../assets/img/room3.png");
}
#room4{
	background-color:lightblue;
}
#introDiv{
	display:block;
	position:absolute;
	top:0;
	left:5vw;
	z-index:3;
	background-image:url("../assets/img/intro2.png");
	background-size: 100% auto;
}
#hotbar{
	z-index:6;
	background-color: red;
	position:absolute;
	width:90vw;
	height:calc(90vw*2/16);
	top:calc(90vw*7/16);
	left:0;
	opacity: 1;
	background-color:darkgray;
	display:block;
}
#hotbar div{
	position:absolute;
	background-color:gray;
	height:calc(90vw*2/17);
	top:calc(90vw*2/32 - 90vw*2/34);
	width:calc(90vw*21/150);
	display:block;
}

#hotbar div img{
	position:relative;
	height:calc(90vw*8/85);
	width:auto;
}
#showHotbar{
	z-index:7;
	left:80vw;
	position:absolute;
	background-color:lightgray;
	border-style: groove;
	border-color: black;
	border-width:.6vw;
	height:calc(90vw*1/17);
	top:calc(90vw*7/16);
	width:calc(90vw*1/17);
}
#gameDiv{
	position:absolute;
	top:0;
	left:5vw;
}
.arrowKeys{
	position:absolute;
	z-index:2;
}
svg{
	position:absolute;
	width:calc(4.5vw);
	height:calc(90vw*9/160);
}
#leftArrow{
	top:calc(90vw*81/320);
	left:calc(90vw/20);
}
#rightArrow{
	top:calc(90vw*81/320);
	left:calc(90vw*9/10);
}
#numberPuzzle {
	position:absolute;
	top: calc(90vw*9/32 - 22.5vw);
	left: calc(45vw - 22.5vw);
	display: none;
	background-color:rgb(74,74,74);
	width:45vw;
	height:45vw;
}

#numberPuzzle div{
	position:absolute;
	background-color:white;
	font-size:5vw;
	text-align:center;
	display:block;
	width: 14vw;
	height: 14vw;
}
#numberPuzzle2 {
	position:absolute;
	top:26.6vw;
	left:74vw;
	display:block;
	z-index:4;
	background-color:rgb(74,74,74);
	width:3.4vw;
	height:3.4vw;
}

#numberPuzzle2 div{
	position:absolute;
	background-color:white;
	display:block;
	width: 1vw;
	height: 1vw;
}
#escapeBtn{
	position:absolute;
	width: 3vw;
	height: 3vw;
	background-color:rgb(74,74,74);
	border-style:groove;
	border-width:1vw;
	color:white;
	top: calc(90vw*9/32 - 22.5vw);
	left: 70vw;
	font-size:2.8vw;
	text-align:center;
}
#surprise2{
	position:absolute;
	z-index:4;
	height:calc(14.55vw*9/16);
	width:14.55vw;
	top:24vw;
	left:49.6vw;
	display:none;
	background-color:yellow;
}
#surprise{
	background-color:lightblue;
}




/* items */
#switch{
	position:absolute;
	top:10vw;
	width:2.5vw;
	left:80vw;
	height:auto;
	display:block;
}
#chair{
	height:27.5vw;
	top:21.5vw;
	left:5vw;
	z-index:3;
}
#gregorHuman{
	z-index:4;
	height:30vw;
	top:20vw;
	left:5vw;;
}
#gregorMeta{
	z-index:5;
	height:15vw;
	top:19vw;
	left:12vw;
	display:none;
	transform: rotate(70deg);
}
#milk{
	height:10vw;
	top:34vw;
	left:82vw;
}
#code{
	height:9vw;
	top:24vw;
	left:8vw;
	z-index:5;
	display:none;
}
#cabinet{
	height:20vw;
	top:10vw;
	left:54vw;
}
#painting{
	z-index:4;
	height:15vw;
	top:1vw;
	left:7vw;
}
#key{
	height:3vw;
	top:19vw;
	left:62.8vw;
	display:none;
}
#number5{
	height:5vw;
	top:17vw;
	left:54.8vw;
	display:none;
}
#safe{
	height:20vw;
	top:22.7vw;
	left:62vw;
	display:block;
}